<div class="container text-center mt-2">
    <h1>Reporte de inventario</h1>
    <hr class="w-50 container" />
</div>
<div class="container mb-5 text-center mt-2">
    <a class="btn btn-success" href="/?token={{token}}" role="button">Volver</a>
</div>
<div class="container">
    <h2 class="text-center mt-2">Ingresos a Bodega</h2>
    <div class="row">
        <div class="col-12 table-responsive-sm">
            <table class="table table-sm table-bordered border-primary mt-2 container">
                <thead>
                    <tr>
                    <th scope="col">Id ingreso</th>
                    <th scope="col">Nombre Insumo</th>
                    <th scope="col">Tipo de insumo</th>
                    <th scope="col">Bodega</th>
                    <th scope="col">Unidades Ingesadas</th>
                    <th scope="col">Fecha de ingreso</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each ingresosPorFecha}}
                    <tr>
                    <th scope="row">{{this.id_ingreso}}</th>
                    <th>{{this.nombre_de_insumo}}</th>
                    <td>{{this.tipo_de_insumo}}</td>
                    <td>{{this.nombre_bodega}}</td>
                    <td>{{this.unidades_ingresadas}}</td>
                    <td>{{this.to_char}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="container mb-5">
    <h2 class="text-center mt-2">Retiros de Bodega</h2>
    <div class="row">
        <div class="col-12 table-responsive-sm">
            <table class="table table-sm table-bordered border-danger mt-2 container">
                <thead>
                    <tr>
                    <th scope="col">Id egreso</th>
                    <th scope="col">Nombre Insumo</th>
                    <th scope="col">Tipo de insumo</th>
                    <th scope="col">Bodega</th>
                    <th scope="col">Unidades Entegadas</th>
                    <th scope="col">Departamento</th>
                    <th scope="col">Responsable</th>
                    <th scope="col">Fecha de entrega</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each egresosPorFecha}}
                    <tr>
                    <th scope="row">{{this.id_egresos}}</th>
                    <th>{{this.nombre_de_insumo}}</th>
                    <td>{{this.tipo_de_insumo}}</td>
                    <td>{{this.nombre_bodega}}</td>
                    <td>{{this.cantidad_saliente}}</td>
                    <td>{{this.nombre_area}}</td>
                    <td>{{this.persona_recibe}}</td>
                    <td>{{this.to_char}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>