<div class="container text-center mt-2">
    <h1>Stock</h1>
    <hr class="w-50 container" />
</div>
<div class="container text-center mt-2">
    <a class="btn btn-success" href="/" role="button">Volver</a>
</div>

<div class="container">
    <h2 class="text-center mt-2">Stock Actual</h2>
    <div class="row">
        <div class="col-12 table-responsive-sm">
            <table class="table table-sm table-bordered border-primary">
                <thead>
                    <tr>
                    <th scope="col">Nombre Insumo</th>
                    <th scope="col">Tipo de insumo</th>
                    <th scope="col">Bodega</th>
                    <th scope="col">Unidades</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each stockActual}}
                    <tr>
                    <th scope="row">{{this.nombre_de_insumo}}</th>
                    <td>{{this.tipo_de_insumo}}</td>
                    <td>{{this.nombre_bodega}}</td>
                    <td>{{this.cantidad_en_stock}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="container">
    <h2 class="text-center mt-2">Stock Critico</h2>
    <div class="row">
        <div class="col-12 table-responsive-sm">
            <table class="table table-sm table-bordered border-danger">
                <thead>
                    <tr>
                    <th scope="col">Nombre Insumo</th>
                    <th scope="col">Tipo de insumo</th>
                    <th scope="col">Bodega</th>
                    <th scope="col">Unidades</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each stockCritico}}
                    <tr>
                    <th scope="row">{{this.nombre_de_insumo}}</th>
                    <td>{{this.tipo_de_insumo}}</td>
                    <td>{{this.nombre_bodega}}</td>
                    <td>{{this.cantidad_en_stock}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="mb-5"></div>